/* text colour for body text */

body {
    color: white;
}

/* main title and arrow down settings */

article h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 5em;
    margin-top:3.3em;
}




/* login button link */

#loginButton {
    margin: 7.8em auto 8em auto;
    font-family: 'Jura', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#loginButton a {
    color: turquoise;
    border: 0.1em solid turquoise;
    border-radius: 1.8em;
    padding: 0.7em 1.8em 0.7em 1.8em;
}

#loginButton a:hover {
    color:black;
    background-color: turquoise;
}

#loginButton a:active {
    color: white;
    background-color: seagreen;
    border: 0.1em solid white;

}




/* navigation arrow and footer */

.arrowPointingRight img {
    width: 10em;
    transform: rotate(270deg);
    position: absolute;
    left: 0;
    right: 0;
    margin: 2em auto 0 auto;
}

footer nav {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin-top: 20em;
    margin-bottom: 5em;
}