/* page headings and arrow down */

article h2, #experience h1 {
    color:white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 5em;
    margin-top: 3.3em;
}

#experience h1 {
    font-size: 3.6em;
}

.arrowPointingDown img {
    display: block;
    margin-top:5.5em;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}





/* contact table and caption settings */

.contactTable {
    margin: 10em auto 0 auto;
    font-family: 'Orbitron', sans-serif;
    color: white;
    border-spacing: 0.2em;
}

.contactTable caption {
    font-weight: bold;
    font-size: 2em;
    padding: 1em;
}

.contactTable tbody {
    font-family: 'Jura', sans-serif;
}





/* table row and cell settings */

.contactTable th, .contactTable td {
    font-size: 1.3em;
}   





/* institutes table figure settings */

.contactTable tbody figure {
    z-index: 0;
}

.contactTable tbody img {
    width: 2em;
    padding-top:0.45em;
}

table tbody td a:link {
    text-decoration: underline;
}





/* navigation arrow and footer */

.arrowPointingRight img {
    width: 10em;
    transform: rotate(270deg);
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin-top: 25em;
    margin-bottom: 5em;
}