/* background and nav image settings */

body, header nav {
    background-image: url("backgroundimages/starsbackground.jpg");
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    z-index: 2;
}





/* navigation bar settings */

header nav {
    padding: 1em;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    float: none;
    position: fixed;
    top:0;
    left: 0;
    right:0;
}

header nav a {
    padding-right: 0.7em;
    padding-left: 0.7em;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: turquoise;
}

nav .currentPage {
    opacity: 0.6;
}





/* footer settings */

footer nav a {
    padding: 1em;
}

footer a:link {
    color: rgb(216, 216, 216);
    text-decoration: underline;
}

footer a:visited {
    color: rgb(214, 214, 214);
    text-decoration: underline;
}

footer p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Jura', sans-serif;
    margin-bottom: 1em;
}