* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  scroll-behavior: smooth;
}

body {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  line-height: 1.6;
}

section {
  width: 100%;
  max-width: 100%;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.spline-container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden; /* Hides overflow */
  position: absolute; /* Positioning to cover the viewport */
  top: 0;
  left: 0;
  z-index: -1; /* Ensure it’s behind other content */
}

.portfolio-content {
  position: relative; /* Ensures this content is above the Spline */
  z-index: 1; /* Higher z-index to appear above the Spline */
  color: white; /* Change text color as needed */
}
